.dropdown-btn {
    margin-bottom: 5px;
    margin-left: 5px;

    &__arrow-down {
        visibility: hidden;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #fff;
    }

    &::after {
        visibility: hidden;
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #000;
    }
}
