*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body,
#root,
.App {
    overflow: auto;
}

.App {
    height: 100%;
    text-align: center;
    color: $main-text;
    background-image: linear-gradient($main-text, #19294d);

    &--loading {
        height: 100vh;
        background-color: #798ab3;
    }

    &--rain {
        background-image: linear-gradient($main-text, #19294d),
            url('../../../public/images/loader-icon/blur-cars-dew.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-blend-mode: exclusion;
    }
}

body {
    font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // background-image: linear-gradient($main-text, #19294d), url('/images/loader-icon/blur-cars-dew.jpg');
    // background: center cover no-repeat;
}

.loader-icon {
    width: 30px;
    height: auto;
    position: relative;
    top: 50%;
}
